/* Element selectors */

a {
  color: #A9D6E5;
}

a:hover {
  color: #89C2D9;
  text-decoration: none;
}

body {
  margin-bottom: 35px;
  font-family: "Lato", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #014F86;
}

footer.border-top {
  margin-top: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

/* Class selectors */

.card-custom {
    margin: 20px;
    width: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 25px;
  border-top: 5px solid #17a2b8 !important;
  color: grey;
}

.my-list {
  list-style-position: inside;
}

.my-list-item {
  margin: 0 0 10px 5px;
}

.navbar {
  background-color: #013A63;
}

.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #01497C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar-links {
  width: 180px;
  margin-left: 10px;
}

.list-group-item {
  background-color: #01497C;
}

#main-header {
position: absolute;
  left: 275px;
  top: 240px;
}

#close-menu {
  float: right;
  margin-right: 10px;
  color: #A9D6E5;
}

#open-menu:hover, #close-menu:hover {
  color: #61A5C2;
}

#circle-image {
  border-radius: 50%;
  width: 250px;
  position: absolute;
  left: 20px;
  top: 50px;
  border: 2px solid #fff;
}

#open-menu {
    color: #A9D6E5;
}

#main {
  background-color: #012A4A;
  color: #FFF;
}

#banner {
  background: transparent url(../images/banner.jpg) no-repeat center center /
    cover;
  height: 200px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    #banner {
        background: transparent url(../images/banner.jpg) no-repeat center center /
          cover;
        height: 120px;
        margin-bottom: 80px;
      }

      #circle-image {
        width: 150px;
        top: 30px;
      }

      #main-header {
        position: absolute;
          left: 170px;
          top: 125px;
        }

  }
